body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #141414;
}

h1, h2, h3, p {
    margin: 0;
}

ul, span {
    margin: 0;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}