#btn-mobile {
    display: none;
}

#nav.active .header-menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

#hamburger {
    margin-top: 6px;
    border-top: 2px solid;
    width: 20px;
    display: block;
    color: rgb(154, 1, 192);

  }
  
  #hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
  }
  
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  
  #nav.active #hamburger::before {
    transform: rotate(135deg);
    transition: .5s;
  }
  
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    transition: .5s;
    top: -7px;
  }

  @media (max-width: 700px) {
    #btn-mobile {
      display: block;
    }
    .header-menu {
      display:  block;
      position: absolute;
      width: 100%;
      height: 0px;
      top: 90px;
      right: 0;
      background: #e7e7e7;
      z-index: 1000;
      transition: .6s;
      visibility: hidden;
      overflow-y: hidden;
    }
    .header-menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, .5);
    }
    #btn-mobile {
      display: flex;
      padding: .5 1rem;
      font-size: 1.5rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
    }
  }