#btn-mobile {
    display: none;
}

@media (max-width: 800px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        border-top: 3px  solid;
        width: 30px;
        color: #A037FC;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(225deg);
        top: 8px;
    }
    #nav.active #hamburger::after {
        transform: rotate(-225deg);
    }
    .header-container {
        height: 8mm;
    }
    .header-menu {
       display: block; 
       position: absolute;
       width: 100%;
       top: 50px;
       right: 0;
       background: #1a1a1a;
       height: 0px;
       transition: .6s;
       z-index: 1000;
       visibility: hidden;
       overflow-y: hidden;
    }
    .header-container {
        max-width: 1300px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    #nav.active .header-menu {
        height: calc(100vh - 80px);
        visibility: visible;
        /* overflow-y: auto; // barra de rolagem automatica, quando utrapassar o valor do container*/
    }

    .header-menu a {
        padding: 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .5);
    }
}